.tabs{
    background-color: aliceblue ;
    color: antiquewhite;
}

.card-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 40vh;
    height: auto;
    cursor: pointer;
  }